{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}"/>
<link rel="stylesheet" href="{% static "blog/posts.css" %}"/>
{% endblock %}

{%block content%}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/my_image.jpg" %}" alt="Yash - the author of this blog">
            <h2>Yash Blog</h2>
        </header>
        <p>Hi, I am Yash and I love to blog about tech and the world!</p>
    </section>

    <section id="latest-posts">
        <h2> My Latest thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, I love helping others and i enjoying new tech</p>
        <p>My goal is to keep growing as a developer</p>
    </section>
{% endblock %}